# PyCity Schools Analysis

In [1]:
# This will be the main script to run for analysis.
# Using Pandas and Jupyter Notebook, create a report that includes the following data. 
# Your report must include a written description of at least two observable trends based on the data.
# Check out starter code for example to help with direction in line above 
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [2]:
# Create a high-level snapshot, in a DataFrame, of the district's key metrics, including the following:
# Calculate the total number of unique schools
total_schools = len(school_data_complete_df["School ID"].unique())
print(total_schools)

15

In [3]:
# Calculate the total number of students
total_students = school_data_complete_df["Student ID"].count()
print(total_students)

39170

In [4]:
# Calculate the total budget
budget_sum =  school_data['budget'].sum()
print(budget_sum)

24649428

In [5]:
# Calculate the average (mean) math score
avg_math_score = round(school_data_complete_df['math_score'].mean())
print(avg_math_score)

79

In [6]:
# Calculate the average (mean) reading score
avg_reading_score = avg_read = round(school_data_complete_df['reading_score'].mean())
print(avg_reading_score)

82

In [21]:
# Use the following to calculate the percentage of students who passed math 
# (math scores greather than or equal to 70)
passing_m_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_math_percent = passing_m_count / float(total_students) * 100
print(passing_math_percent)

74.9808526933878

In [11]:
# Calculate the percentage of students who passeed reading 
# (hint: look at how the math percentage was calculated)  
pass_r_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percent = pass_r_count / float(total_students) * 100
print(passing_reading_percent)

85.80546336482001

In [23]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete_df[
    (school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_percent = passing_math_reading_count /  float(total_students) * 100
overall_passing_percent

65.17232575950983

In [26]:
# Create a high-level snapshot of the district stats using a data frame 

district_summary_df = pd.DataFrame([{"Total Schools": total_schools, 
                            "Total Students": total_students, 
                            "Total Budget": budget_sum,
                            "Average Math Score": avg_math_score, 
                            "Average Reading Score": avg_reading_score,
                            "% Passing Math": passing_math_percent,
                            "% Passing Reading": passing_reading_percent,
                            "% Overall Passing": overall_passing_percent}])
district_summary_df

# # Formatting
# dis_summary_df = district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
# district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
# Display the DataFrame

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,79,82,74.980853,85.805463,65.172326

# School Summary

In [ ]:
# Create a DataFrame that summarizes key metrics about each school, including the following:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]

In [ ]:
# Calculate the total student count
per_school_count =

In [ ]:
# Calculate the total school budget and per capita (student) spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_count

In [ ]:
# Calculate the average test scores
per_school_math = 
per_school_reading =

In [ ]:
# Calculate the number of schools with math scores of 70 or higher, changed
school_passing_m =

In [ ]:
# Calculate the number of schools with reading scores of 70 or higher, changed
school_passing_r =

In [ ]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
# changed
passing_m_and_r = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]

In [ ]:
# Use the provided code to calculate the passing rates
#changed
per_school_passing_m = school_passing_m.groupby(["school_name"]).count()["student_name"] / per_school_count * 100
per_school_passing_r = school_passing_r.groupby(["school_name"]).count()["student_name"] / per_school_count * 100
overall_passing_rate = passing_m_and_r.groupby(["school_name"]).count()["student_name"] / per_school_count * 100

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

# Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Create a DataFrame that highlights the top 5 performing schools based on % Overall Passing. 
# Include the following metrics:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
# * School name
# * School type
# * Total students
# * Total school budget
# * Per student budget
# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)

# Lowest-Performing Schools (by % Overall Passing)

In [ ]:
# Create a DataFrame that highlights the bottom 5 performing schools based on % Overall Passing. 
# Include the following metrics:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
# * School name
# * School type
# * Total students
# * Total school budget
# * Per student budget
# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)

# Math Scores by Grade

In [ ]:
#Create a DataFrame that lists the average math score for students of each grade level at each school.
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = 
tenth_graders_scores = 
eleventh_graders_scores = 
twelfth_graders_scores = 

# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores.mean()["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`


# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

# Reading Scores by Grade

In [ ]:
# Create a DataFrame that lists the average reading score for students of each grade level at each school.
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = 
tenth_graders_scores = 
eleventh_graders_scores = 
twelfth_graders_scores = 

# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores.mean()["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`


# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

# Scores by School Spending

In [ ]:
# Create a table that breaks down school performance based on average spending ranges (per student). 
# Use your judgment to create four bins with reasonable cutoff values to group school spending. 
# Include the following metrics in the table:

# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins., table should appear once this cell has been ran 
school_spending_df["Spending Ranges (Per Student)"] =

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spend Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spend Ranges (Per Student)"]).mean()["Average Read Score"]
spending_passing_math = school_spending_df.groupby(["Spend Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spend Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spend Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

# Scores by School Size

In [ ]:
# Create a table that breaks down school performance based on school size (small, medium, or large).
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] =

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size 
# Categories are (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`


# Display results
size_summary

# Scores by School Type

In [ ]:
# Create a table that breaks down school performance based on type of school (district or charter).
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = 
type_reading_scores = 
type_passing_math = 
type_passing_reading = 
type_overall_passing = 

# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`


# Display results
type_summary