# PyCity Schools Analysis

In [1]:
# This will be the main script to run for analysis.
# Using Pandas and Jupyter Notebook, create a report that includes the following data. 
# Your report must include a written description of at least two observable trends based on the data.
# Check out starter code for example to help with direction in line above 
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DATAFRAMES
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

# school_data_to_load = "Resources/schools_complete.csv"
# student_data_to_load = "Resources/students_complete.csv"

# # Read School and Student Data File and store into Pandas DATAFRAMES
# school_data = pd.read_csv(school_data_to_load)
# student_data = pd.read_csv(student_data_to_load)

# # Combine the data into a single dataset.  
# school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
# school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
school_data_complete_df = pd.merge(student_data, school_data, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [4]:
# Create a high-level snapshot, in a DataFrame, of the district's key metrics, including the following:
# Calculate the total number of unique schools
total_schools = len(school_data_complete_df["School ID"].unique())
print(total_schools)

15

In [5]:
type(total_schools)

int

In [6]:
# Calculate the total number of students
# total_students = school_data_group['Student ID'].count()
# print(total_students)
# Calculate the total student count
total_students = school_data_complete_df["Student ID"].count()
print(total_students)
total_students = school_data_group['Student ID'].count()
print(total_students)

39170

In [7]:
type(total_students)

numpy.int64

In [8]:
# Calculate the total budget
budget_sum =  school_data['budget'].sum()
print(budget_sum)
# school_budget= school_data_group['budget'].max()
# print(school_budget)
# per_student = school_data.set_index("school_name")["budget"] / total_students

24649428

In [9]:
# Calculate the average (mean) math score
avg_math_score = round(school_data_complete_df['math_score'].mean())
print(avg_math_score)
# avg_math_score = school_data_group['math_score'].mean()
# print(avg_math_score)

79

In [10]:
# Calculate the average (mean) reading score
# avg_reading_score = school_data_group['reading_score'].mean()
# print(avg_reading_score)
avg_reading_score = avg_read = round(school_data_complete_df['reading_score'].mean())
print(avg_reading_score)
# avg_reading_score = school_data_group['reading_score'].mean()
# print(avg_reading_score)

82

In [11]:
# Use the following to calculate the percentage of students who passed math 
# (math scores greather than or equal to 70)
passing_m_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_math_percent = passing_m_count / float(total_students) * 100
print(passing_math_percent)

avg_math_score = school_data_group['math_score'].mean()
print(avg_math_score)

74.9808526933878

In [12]:
# Calculate the percentage of students who passeed reading 
# (hint: look at how the math percentage was calculated)  
pass_r_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percent = pass_r_count / float(total_students) * 100
print(passing_reading_percent)
# per_passing_reading = passed_student_reading/total_students *100
# print(per_passing_reading)

85.80546336482001

In [22]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete_df[
    (school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_percent = passing_math_reading_count /  float(total_students) * 100
overall_passing_percent

65.17232575950983

In [14]:
# Create a high-level snapshot of the district stats using a data frame 
# per_passing_reading = passed_student_reading/total_students *100
# print(per_passing_reading)
district_summary_df = pd.DataFrame([{"Total Schools": total_schools, 
                            "Total Students": total_students, 
                            "Total Budget": budget_sum,
                            "Average Math Score": avg_math_score, 
                            "Average Reading Score": avg_reading_score,
                            "% Passing Math": passing_math_percent,
                            "% Passing Reading": passing_reading_percent,
                            "% Overall Passing": overall_passing_percent}])
district_summary_df

# # Formatting
# dis_summary_df = district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
# district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
# Display the DataFrame

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,79,82,74.980853,85.805463,65.172326

# School Summary

In [61]:
# Create a DataFrame that summarizes key metrics about each school, including the following:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]
school_data.head(9)

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500
5          5     Wilson High School   Charter  2283  1319574
6          6    Cabrera High School   Charter  1858  1081356
7          7     Bailey High School  District  4976  3124928
8          8     Holden High School   Charter   427   248087

In [63]:
total_students = school_data_complete_df.groupby("school_name").count()["Student ID"]
print(total_students)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [64]:
# total_schools = len(school_data_complete_df["School ID"].unique())
# print(total_schools)
per_student = school_data.set_index("school_name")["budget"] / total_students   
print(per_student)

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [16]:
#perform merge
school_data_df = pd.merge(student_data, school_data, how="inner", on=["school_name"])
school_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [66]:
school_name_group = school_data_df.groupby(["school_name"])
school_name_group.head()
#passing_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,14,Charter,1635,1043130
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130

In [55]:
#print school with largest budget 
school_name = school_data_df['school_name'].max()
print(school_name)

Wright High School

In [30]:
school_type = school_data['type'].max()
print(school_type)

District

In [33]:
school_budget= school_name_group['budget'].max()
print(school_budget)

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [35]:
per_student_budget = school_budget/total_students
print(per_student_budget)

school_name
Bailey High School       79.778606
Cabrera High School      27.606740
Figueroa High School     48.108527
Ford High School         45.032321
Griffin High School      23.423538
Hernandez High School    77.151391
Holden High School        6.333597
Huang High School        48.778019
Johnson High School      79.005617
Pena High School         14.956804
Rodriguez High School    65.033521
Shelton High School      26.974726
Thomas High School       26.630840
Wilson High School       33.688384
Wright High School       26.790911
Name: budget, dtype: float64

In [37]:
per_school_count = school_data_complete_df.groupby("school_name").count()["Student ID"]
print(per_school_count)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [42]:
avg_reading_score = mean_groupby["reading_score"]
avg_math_score = mean_groupby["math_score"]
print(avg_reading_score)

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [43]:
avg_math_score = mean_groupby["math_score"]
print(avg_math_score)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [45]:
# Calculate the number of schools with math scores of 70 or higher, changed
passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].groupby("school_name").count()["student_name"] / total_students *100
len(avg_math_score)
# need help with this cell

15

In [44]:
schools_summary_group = school_data_complete_df.set_index("school_name").groupby(["school_name"])
school_data_complete_df[school_data_complete_df[['school_name']].apply(lambda x: x[0].isdigit(), axis=1)]

Empty DataFrame
Columns: [Student ID, student_name, gender, grade, school_name, reading_score, math_score, School ID, type, size, budget]
Index: []

In [48]:
#Variables
mean_groupby = school_data_complete_df.groupby("school_name").mean() 
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]

/var/folders/bp/kkf4c1nj557c5frmyn420c7c0000gn/T/ipykernel_26951/2599917217.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mean_groupby = school_data_complete_df.groupby("school_name").mean()
/var/folders/bp/kkf4c1nj557c5frmyn420c7c0000gn/T/ipykernel_26951/2599917217.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]

In [49]:
passing_math.head()

school_name
Bailey High School      8.470768
Cabrera High School     4.465152
Figueroa High School    4.968088
Ford High School        4.776615
Griffin High School     3.500128
Name: student_name, dtype: float64

In [51]:
per_passing_math = passing_math/total_students * 100
print(per_passing_math)
# need help with this cell

school_name
Bailey High School       0.021626
Cabrera High School      0.011399
Figueroa High School     0.012683
Ford High School         0.012195
Griffin High School      0.008936
Hernandez High School    0.020166
Holden High School       0.002574
Huang High School        0.012488
Johnson High School      0.020498
Pena High School         0.005931
Rodriguez High School    0.017298
Shelton High School      0.010774
Thomas High School       0.009939
Wilson High School       0.013967
Wright High School       0.010950
Name: student_name, dtype: float64

In [ ]:
per_school_passing_m = school_passing_m.groupby(["school_name"]).count()["student_name"] / per_school_count * 100

In [58]:
per_overall_passing = overall_students_passed/total_students *100
print(per_overall_passing)

NameError: name 'overall_students_passed' is not defined

In [53]:
# Use the provided code to calculate the passing rates
#changed
per_school_passing_r = school_passing_r.groupby(["school_name"]).count()["student_name"] / per_school_count * 100
overall_passing_rate = passing_m_and_r.groupby(["school_name"]).count()["student_name"] / per_school_count * 100
print()

NameError: name 'school_passing_m' is not defined

In [52]:
school_summary_df = pd.concat([school_type,total_students,school_budget,per_student_budget,avg_math_score,avg_reading_score,per_passing_math,
          per_passing_reading,per_overall_passing], axis=1, keys = ['School type','Total students','Total school budget',
                                                                   'Per student budget','Average math score',' Average reading score',
                                                                   '% passing math',' % passing reading','% overall passing'])

school_summary_df

NameError: name 'per_passing_reading' is not defined

In [ ]:
# Calculate the total school budget and per capita (student) spending
per_school_capita = per_school_budget / per_school_count
print(per_school_capita)

In [ ]:
# Calculate the average test scores
student_summary_group = school_data_complete_df.set_index("school_name").groupby(["school_name"])
mean_groupby = school_data_complete_df.groupby("school_name").mean()

In [ ]:
# Calculate the number of schools with reading scores of 70 or higher, changed
passing_r = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].groupby("school_name").count()["student_name"] / total_students *100
len(passing_r)

In [ ]:
print(passing_r)
avg_reading = mean_groupby["reading_score"]

In [ ]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
# changed
passing_m_and_r = school_data_complete_df[
    (school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)
]
print(passing_m_and_r)

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

# Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Create a DataFrame that highlights the top 5 performing schools based on % Overall Passing. 
# Include the following metrics:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
# * School name
# * School type
# * Total students
# * Total school budget
# * Per student budget
# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)

# Lowest-Performing Schools (by % Overall Passing)

In [ ]:
# Create a DataFrame that highlights the bottom 5 performing schools based on % Overall Passing. 
# Include the following metrics:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
# * School name
# * School type
# * Total students
# * Total school budget
# * Per student budget
# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)

# Math Scores by Grade

In [ ]:
#Create a DataFrame that lists the average math score for students of each grade level at each school.
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = 
tenth_graders_scores = 
eleventh_graders_scores = 
twelfth_graders_scores = 

# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores.mean()["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`


# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

# Reading Scores by Grade

In [ ]:
# Create a DataFrame that lists the average reading score for students of each grade level at each school.
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = 
tenth_graders_scores = 
eleventh_graders_scores = 
twelfth_graders_scores = 

# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores.mean()["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`


# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

# Scores by School Spending

In [ ]:
# Create a table that breaks down school performance based on average spending ranges (per student). 
# Use your judgment to create four bins with reasonable cutoff values to group school spending. 
# Include the following metrics in the table:

# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins., table should appear once this cell has been ran 
school_spending_df["Spending Ranges (Per Student)"] =

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spend Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spend Ranges (Per Student)"]).mean()["Average Read Score"]
spending_passing_math = school_spending_df.groupby(["Spend Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spend Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spend Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

# Scores by School Size

In [ ]:
# Create a table that breaks down school performance based on school size (small, medium, or large).
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] =

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size 
# Categories are (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`


# Display results
size_summary

# Scores by School Type

In [ ]:
# Create a table that breaks down school performance based on type of school (district or charter).
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = 
type_reading_scores = 
type_passing_math = 
type_passing_reading = 
type_overall_passing = 

# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`


# Display results
type_summary